@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);

body {
  margin: 0;
  padding: 0;
  background: #02006e;
	font-family: ubuntu;
}
header {
  display: flex;
  align-items: center;
  background: #e7e7ff;
}
header img {
  width: 50px;
  background: white;
  border-radius: 5px;
  margin: 0 20px 0 40px;
}
article {
  background: white;
  border: 3px solid #a0a0a0;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

/* cool */
aHead {
  font-weight: bold;
  font-size: 17px;
}
hr, date {
  color: #a0a0a0;
}
feedtitle {
  font-weight: bold;
  font-size: 31px;
}

/* Posts */
#author {
  text-align: right;
}
#copyright {
  font-family: 'Helmet', sans-serif;
  font-weight:bold;
  text-align: center;
  font-size: 19px;
}
#made-by {
  font-family: 'Helmet', sans-serif;
  font-weight:bold;
  text-align: center;
  font-size: 17px;
}
.pubBack a{
  color: white;
  text-decoration: none;
}
.downtoup_arrow {
  text-align: right;
}
.downtoup_arrow a {
  color: black;
  text-decoration: none;
}